{% extends 'music/base.html' %}
{% block title %}Login{% endblock %}
{% block body %}
<div class="container" style="background: white; margin-top: 66.5px;padding-top: 15px;padding-bottom: 15px;">
    <h2>Login</h2>

    
    <form action="" method='post' enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'music/form-template.html' %}
        <br>
        <button type='submit' class='btn btn-success'>
            Login
        </button>
        <span>Are you new User? Then click here to </span>
        <a href="{% url 'signup' %}" style="padding-top:20px;">
            Register.
        </a>
    </form>
    
</div>

{% endblock %}