<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        {% block title %}MelodyMusix{% endblock %}
    </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load staticfiles %}
    <link rel="shortcut icon" href="#">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css"
        href="{% static 'music/Bootstrap/bootstrap-4.3.1/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'music/font/fontawesome-free-5.8.1-web/css/all.css' %}">
    <!-- Material Design Bootstrap -->
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/css/mdb.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'music\mdb\css\mdb.min.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet'>
    <!-- My CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'music:index' %}">MelodyMusix</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavBar"
                aria-controls="topNavBar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="topNavBar">
                <ul class="navbar-nav mr-auto d-flex align-items-center">
                    <li class="nav-item {% if 'song' not in request.path %}active{% endif %}">
                        <a class="nav-link" href="{% url 'music:index' %}">
                            <span><i class="fas fa-compact-disc"></i></span>&nbsp;Album
                        </a>
                    </li>
                    <li class="nav-item {% if 'song' in request.path %}active{% endif %}">
                        <a class="nav-link" href="{% url 'music:song-list' %}">
                            <span class="fa fa-music"></span>&nbsp;Song
                        </a>
                    </li>
                </ul>
                {% if '/songs'  in request.path or '/song' in request.path %}
                <form class="form-inline justify-content-center" role="search" method="GET"
                    action="{% url 'music:song-list-view'  %}">
                    {% else %}
                    <form class="form-inline justify-content-center" role="search" method="GET"
                        action="{% url 'music:album-list-view'  %}">
                        {% endif %}
                        <div class="form-group">
                            <input name="q" type="search" class="form-control mr-sm-2" placeholder="Search"
                                aria-label="Search">
                            <button type="submit" class="btn btn-outline-success my-2 my-sm-0">
                                Search
                            </button>
                        </div>
                    </form>
                    <ul class="navbar-nav justify-content-md-end d-flex align-items-center">
                        {% if '/songs' in request.path or '/song' in request.path %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'music:song-add' %}">
                                <i class="fas fa-plus"></i>&nbsp;Add Song
                            </a>

                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'music:album-add' %}">
                                <i class="fas fa-plus"></i>&nbsp;Add Album
                            </a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            {% if user.is_authenticated %}
                            <a class="nav-link" href="{% url 'logout' %}">
                                <i class="fas fa-power-off"></i>&nbsp;Logout
                            </a>
                            {% else %}
                            <a class="nav-link" href="{% url 'login' %}">
                                <i class="fas fa-sign-in-alt"></i>&nbsp;Login
                            </a>
                            {% endif %}
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="" style="display: flex;flex-flow: row;align-items: center;">
                                <i class="fas fa-user-circle fa-2x"></i>&nbsp;
                                {% if user.is_authenticated %}
                                {{ user.get_username }}
                                {% endif %}
                            </a>

                        </li>
                    </ul>
            </div>
        </div>
    </nav>
    {% block body %}
    {% endblock %}


    <script src="{% static 'music/jquery.js' %}"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script> -->
        <script src="{% static 'music\Bootstrap\bootstrap-4.3.1\dist\js\bootstrap.min.js' %}"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript"
        src="{% static 'music\mdb\js\mdb.min.js' %}"></script>

    <script src="{% static 'music/main.js' %}"></script>
</body>


</html>