{% extends 'music/base.html' %}
{% load staticfiles %}

<head>
    {% block title %}Album Details{% endblock %}

</head>
{% block body %}
<img src="{{ album.album_logo.url }}" alt="Image cannot be shown">
<h1> {{ album.album_title }} </h1>
<br>
<h3> - {{ album.artist }}</h3>
<br>
{% for song in album.song_set.all %}
{{ song.song_title }}

{% if song.is_favourite %}
<img src="http://icons.iconarchive.com/icons/fasticon/web-2/16/Favorite-icon.png" />
{% endif %}<br>
{% endfor %}


<footer class="fixed-bottom bgcol">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-2">
                <img class="song-cover img-fluid rounded float-left"
                    src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22200%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20200%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_169f6587041%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_169f6587041%22%3E%3Crect%20width%3D%22200%22%20height%3D%22200%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2274.4296875%22%20y%3D%22104.5%22%3E200x200%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                    alt="">
            </div>

            <div class="col-md-4 ">
                <button type="button" id="backward" class="btn btn-default" aria-label="Backward" onclick="backwardPlay()">
                    <span aria-hidden="true"><i class="fas fa-step-backward fa-3x"></i></span>
                </button>
                <button type="button" id="play-or-pause" class="btn btn-default" aria-label="Play Music" onclick="togglePlay()"> 
                    <span aria-hidden="true"><i id="play-or-pause-icon" class="fas fa-play-circle fa-3x"></i></span>
                </button>
                <button type="button" id="forward" class="btn btn-default" aria-label="Forward" onclick="forwardPlay()">
                    <span aria-hidden="true"><i class="fas fa-step-forward fa-3x"></i></span>
                </button>

            </div>
            <div class="col-md-6 " id="audio-player">
                <audio id="player" preload="auto" ontimeupdate="initProgressBar()" type="audio/mp3" src="{{ album.song_set.all.first.upload.url }}">
                </audio>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" id="seekObj"
                        aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                    </div>
                </div>
                <small style="float: left; position: relative; left: 15px;" class="start-time">--</small>
                <small style="float: right; position: relative; right: 20px;" class="end-time">--</small>
            </div>


        </div>

    </div>
</footer>

<script type="text/javascript">
    var songs = [
        {% for song in album.song_set.all %}
    {% if not forloop.first %}, {% endif %}
    {
        upload: "{{ song.upload.url }}"
    }
    {% endfor %}
    ]
</script>
{% endblock %}