{% extends 'music/base.html' %}

{% block body %}
<style>
    ul.pagination li {
        display: flex;
        align-self: center;
    }
</style>
<div class="container" style="margin-top: 30px;">
    <nav aria-label="Page navigation example">
        {% if is_paginated %}
        <ul class="pagination pg-amber justify-content-center" style="background:white;">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            </li>
            {% else %}
            <li class="page-item disabled"><a class="page-link">Previous</a></li>
            {% endif %}
            {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
            <li class="page-item active"><a class="page-link"><span>{{ i }} <span
                            class="sr-only">(current)</span></span></a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link">Next</a></li>
            {% endif %}
        </ul>
        {% endif %}
    </nav>
</div>



<div class="container" style="margin-top: 66.5px;">
    {% if 'search' not in request.path %}
    <h2 style="color:white;">All Songs: </h2>
    {% else %}
    <h2 style="color:white;">Search Result: {{song_list|length}}{% if song_list|length <= 1 %} song{% else %} songs{% endif %} found</h2>
    {% endif %}
    <div class="container" style="padding-bottom:50px;">
        <ul class="list-group list-group-flush">
            {% for song in song_list %}
            <li class="list-group-item">
                <span style="display:flex; flex-direction: row; align-items: center;">
                    <button class="btn btn-sm" id="{{ forloop.counter0 }}">
                        <i class="far fa-play-circle fa-3x text-muted" style="padding-right: 4px;"></i>
                    </button>
                    <span class="move"><a href="#" style="color:inherit;">{{ song.song_title }}</a></span>
                    <span style=" margin-left: auto; display: flex; align-items: center;">
                        <span class="text-muted float-left" style="margin-right:8px;">{{ song.duration }}</span>
                        <span>
                            <a href="{% url 'music:song-update' song.id %}">
                                <button class="btn btn-sm" style="background-color: #ff6f00; color:white">
                                    <i class="fas fa-pencil-alt"></i>
                                </button>
                            </a>
                        </span>
                        <!-- <form method="post" class="float-right">
                            {% csrf_token %}
                            <input type="hidden" value="{{ a.id }}">
                            <button type="submit" class="btn btn-default btn-sm">
                                <span class="fa fa-trash"> </span>
                            </button>
                        </form> -->
                    </span>

                </span>
                {% if song.is_favourite %}
                <img src="http://icons.iconarchive.com/icons/fasticon/web-2/16/Favorite-icon.png" />
                {% endif %}
                {% endfor %}
            </li>

        </ul>
    </div>
</div>



<footer class="fixed-bottom bgcol">
    <!-- <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-1">
                <img class="song-cover img-fluid rounded float-left" style="padding-right: 5px;" src="" id="song-img"
                    alt="">
            </div>
            <div class="col-md-2 align-items-top" style="color:white;">
                <a href="#" id="song-title" style="color:inherit;">{{ song_list.all | first }}</a>
            </div>

            <div class="col-md-4 ">
                <button type="button" id="backward" class="btn btn-default peach-gradient btn-responsive" aria-label="Backward"
                    onclick="backwardPlay()">
                    <span aria-hidden="true"><i class="fas fa-step-backward fa-2x"></i></span>
                </button>
                <button type="button" id="play-or-pause" class="btn btn-default peach-gradient btn-responsive"
                    aria-label="Play Music" onclick="togglePlay()">
                    <span aria-hidden="true"><i id="play-or-pause-icon" class="fas fa-play-circle fa-2x"></i></span>
                </button>
                <button type="button" id="forward" class="btn btn-default peach-gradient btn-responsive" aria-label="Forward"
                    onclick="forwardPlay()">
                    <span aria-hidden="true"><i class="fas fa-step-forward fa-2x"></i></span>
                </button>

            </div>
            <div class="col-md-5 " id="audio-player" style="color:white;">
                <audio id="player" preload="auto" ontimeupdate="initProgressBar()" type="audio/mp3" src="">
                </audio>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" id="seekObj"
                        aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                    </div>
                </div>
                <small style="float: left; position: relative; left: 15px;" class="start-time">--</small>
                <small style="float: right; position: relative; right: 20px;" class="end-time">--</small>
            </div>


        </div>
    </div> -->
    <div class="container-fluid">
            <div class="row row-xs d-flex align-items-center">
                <div class="col-4">
               <div class="row align-items-center">
                   <img class="song-cover rounded col-auto" src="/media/Pack-Shot_0.jpg" id="song-img" alt="">
                   <div class="col-8 align-items-middle" style="color:white;">
                    <a href="#" id="song-title" style="color:inherit;">Eraser</a>
                </div></div>
        </div>
    
    <div class="col-7">
               <div class="row align-items-center">
                   
         <div class="col-sm-12 col-md-6 media-btns" style="padding-right: 10px;padding-left: 10px;">
                    <button type="button" id="backward" class="btn btn-default peach-gradient btn-responsive waves-effect waves-light" aria-label="Backward" onclick="backwardPlay()">
                        <span aria-hidden="true"><i class="fas fa-step-backward fa-2x"></i></span>
                    </button>
                    <button type="button" id="play-or-pause" class="btn btn-default peach-gradient btn-responsive waves-effect waves-light" aria-label="Play Music" onclick="togglePlay()">
                        <span aria-hidden="true"><i id="play-or-pause-icon" class="fas fa-play-circle fa-2x"></i></span>
                    </button>
                    <button type="button" id="forward" class="btn btn-default peach-gradient btn-responsive waves-effect waves-light" aria-label="Forward" onclick="forwardPlay()">
                        <span aria-hidden="true"><i class="fas fa-step-forward fa-2x"></i></span>
                    </button>
    
                </div>          <div class="col-sm-12 col-md-6" id="audio-player" style="color:white;">
                    <audio id="player" preload="auto" ontimeupdate="initProgressBar()" type="audio/mp3" src="/media/Divide-By-Ed-sheeren/Ed_Sheeran_-_Eraser_Official_Audio.mp3">
                    </audio>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" id="seekObj" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                        </div>
                    </div>
                    <small style="float: left; position: relative; left: 15px;" class="start-time">--</small>
                    <small style="float: right; position: relative; right: 20px;" class="end-time">--</small>
                </div></div></div>
            
            </div>
        </div>
</footer>

<script type="text/javascript">
    var songs = [
        {% for song in song_list %}
    {% if not forloop.first %}, {% endif %}
    {
        upload: "{{ song.upload.url }}",
            album_logo: "{{ song.album.album_logo.url }}",
                title: "{{ song.song_title }}"
    }
    {% endfor %}
    ];
    var player = document.getElementById('player');
    player.src = songs[0].upload;
    var image = document.getElementById('song-img');
    image.src = songs[0].album_logo;

</script>
{% endblock %}